.scorecard {
    width: 50%;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input {
    width: 50px;
    padding: 5px;
    margin-right: 5px;
  }
  
  tr {
    background-color: #f2f2f2;
    color: black;
  }

  
  td:first-child {
    font-weight: bold;
  }
  .scorecard-buttons {
    text-align: center;
    margin: 20px 0;
  }
  
  .scorecard-buttons button {
    margin-right: 10px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-color: black;
    color: #fff;
  }
  
  .scorecard-buttons button.active {
    background-color: #007bff;
    color: #fff;
  }
  